<!DOCTYPE html>
<html>
  <head>
    <title>Furima35568</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/user/registration.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/user/login.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/shared/second_header.css"/>
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/shared/second_fotter.css"/>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
